h1 {
  text-align: center;
}
body {
    background:  #2c3751;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100%;
} 

.img-text {
  display: flex;
  align-items: center; 
  gap: 20px; 
}

.my-img { 
    width: 22.5%; 
    margin-left: 8vw; 
    border-radius: 50%;
}

.side-text {
  color: white; 
  margin-top: 40px;
  font-size: 2.2vmin;
}

.intro-text{
    margin-top: 8vmin;
}

/* This is the code to do the flippy cards */
.outer-container2 {
  width: 80%;
  /* Adjust this percentage as needed */
  /* max-width: 1800px; /* Maximum width of the outer container */
  /*transform: translateX(5%);  Move the container 50px to the left */
  display: grid;
  place-items: center;
  margin: auto;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Space between the card and the side text */
  width: 100%;
}

.flip-card {
  background-color: transparent;
  width: 22vw;
  max-width: 500px;
  height: 22vw;
  /* Same as width to maintain aspect ratio */
  max-height: 500px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
 */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/*
.flip-card.clicked .flip-card-inner {
  transform: rotateY(180deg);
}
*/

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card img {
  /* max-width: 100%;
  max-height: 100%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensure the image covers the area without stretching */
}

.ifra-container2 {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically, optional */
  width: 100%;
  height: auto;
  margin-top: 80px;
}

.flip-card h1 {
  font-size: 1em;
}

.flip-card p {
  font-size: 0.85em;
}

.padd {
  padding: 1em;
  /* put in between the cards to make acceptable padding without adding padding to the cards */
}
