body{
    background: rgb(38, 38, 78);
}
h1{
    text-align: center;
}

.ifra-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.slider-container {
  position: relative;
  width: 60%;
  max-width: 600px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide.active {
  display: flex;
}

.slide img {
  width: 100%;
  border-radius: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}