nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(57, 56, 56, 0.5);
  padding: 0 15vw;
  /*
  background: #393838;
    */
}

nav ul li a {
  color: rgba(255, 255, 255, 0.45);
  font-size: .888rem;
  display: block;
  text-decoration: none;
  padding: 6px 15px;
}
nav ul li a:hover {
  color: #fff;
}

.list {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  flex: 1; 
  text-align: center;
}
